.hero{
    background-color:#ccc;
   
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;

    &.hero-home p,&.hero-home h1{
        text-align: center;
        color: white;
    }

    .graph-container{
        background-color: #fff;   

        .bar-graphs{
         
            display: block;   

            .bar-graph-lang-container,
            .bar-graph-jobs-container{

                div:first-of-type,
                div:nth-of-type(3){
                    width: 41% !important;

                    div{
                        width: 100% !important;
                    }
                }

                .languages-legend{
                    div{
                        width: 100% !important;
                    }
                }


                height: 300px;
                display: flex;
                width: 320px;
                margin: auto;

                @media screen and (min-width:395px){
                    width: 395px;
                }

                @media screen and(min-width:470px){
                    width: 470px;
                }

            }

            @media screen and(min-width:1020px){
                display: flex;
                justify-content: space-around;
                //flex-wrap: wrap;
            }
        }

        .line-graphs{
      
            display: block;

            .line-graph-lang-container,
            .line-graph-job-container{
                height: 300px;
                width: 320px;  
                margin: auto;

                @media screen and (min-width:395px){
                    width: 395px;
                }

                @media screen and(min-width:470px){
                    width: 470px;
                }
            }

            @media screen and (min-width:1020px) {
                display: flex;
                justify-content: space-around;
                //flex-wrap: wrap;
            }
        }

    }

    .page-title{
        font-size: 24px;
        font-weight: normal;
    }
}