.hero{
   
    width: 100%;
    padding: 0.5rem;
    // padding-bottom: 5rem;

    &.hero-home{
        padding: 0;
        padding-top: 5rem;
    }

    &.hero-home p,&.hero-home h1, &.hero-home h2{
        text-align: center;
        color: $typography;
    }

    .comparison-text{
        font-weight: bold;
        margin: 0;
        margin-right: 10px;
        margin-bottom: 1rem;
    }

    .comparison-settings{
        display: block;

        @media screen and(min-width:640px){
            display: flex;
            justify-content: space-between;
            margin-top: 3rem;
        }


        .languages-selected{
            //width: 300px;

            ul{
                width: 300px;
            }
        }

        .languages-selected, .select-language{
            display: block;

            @media screen and(min-width:930px){
                display: flex;
            }

            li p{
                display: inline-block;
                margin-right: 5px;
                width: 10px;
                height: 10px;
                font-size: 10px;
                margin-top: 0;
                margin-bottom: 0;
            }

            li:first-of-type p{
                background-color: $language-color1;
                color: $language-color1;
            }

            li:nth-child(2) p{
                background-color: $language-color2;
                color: $language-color2;
            }

            li:nth-child(3) p{
                background-color: $language-color3;
                color: $language-color3;
            }
        }
    }

    .toggle-switch-container{
        justify-content: center;
    }

    .graph-container{
        background-color: #fff;   

        .bar-graphs{
         
            display: block;

            
            .graph-name{
                margin-bottom: 0;
            }

            .bar-graph-lang-container,
            .bar-graph-jobs-container{

                div:first-of-type,
                div:nth-of-type(3){
                    width: 37% !important;

                    div{
                        width: max-content !important;
                    }
                }

                .languages-legend{
                    div{
                        width: 100% !important;
                    }
                }


                height: 300px;
                display: flex;
                width: 298px;
                margin: auto;

                @media screen and (min-width:395px){
                    width: 395px;
                }

                @media screen and(min-width:470px){
                    width: 470px;
                }

            }

            @media screen and(min-width:1020px){
                display: flex;
                justify-content: space-around;
                //flex-wrap: wrap;
            }
        }

        .line-graphs{
      
            display: block;

            .line-graph-lang-container,
            .line-graph-job-container{
                height: 300px;
                width: 298px;  
                margin: auto;

                @media screen and (min-width:395px){
                    width: 395px;
                }

                @media screen and(min-width:470px){
                    width: 470px;
                }
            }

            @media screen and (min-width:1020px) {
                display: flex;
                justify-content: space-around;
                //flex-wrap: wrap;
            }
        }

    }

    // .page-title{
    //     font-size: 24px;
    //     font-weight: normal;
    //     padding: 3rem auto !important;
    // }

    a{
        text-decoration: none;
    }

    .sign-up-banner{
        background-color: $main-color;
        display: flex;
        padding: 1rem;
        align-items: center;
        margin: 3rem auto;
        border-radius: 5px;

        p{
            width: 90%;
            font-weight: bold;
            text-align: left;
            color: white;
        }

        .btn-banner {
            width: 117px;

            .btn {

                padding: 8px 13px;
            border: 2px solid $secondary-color;

            

            &:hover {
                background-color: white;
                border: 2px solid $secondary-color;
                color: $secondary-color
            }

            }
            
        }
    }

    .learn-more {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .learn-more-symbol {
            border: 1.5px solid $main-color;
            border-radius: 4px;
            width: 20px;
            height: 20px;
            margin-left: 10px;

            p {
                margin: 0;
                color: $main-color;
                font-weight: bold;
                font-size: 14px;
            }

        }

        .learn-more-content {
            height: fit-content;
            width: 300px !important;

            .modal {
                padding: 5%;
                padding-top: 12%;

                // .close {
                //     position: relative;
                //     display: flex;
                //     justify-content: flex-end;
                //     width: 100%;
                //     margin-bottom: 5%;
                // }

            }
        }
    }
}