.hero{
    background-color:#ccc;
   
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;

    &.hero-home p,&.hero-home h1{
        text-align: center;
        color: white;
    }

    .graph-container{
        background-color: #fff;
      

        .bar-graphs{
         
            display: flex;
            justify-content: space-around;


            .bar-graph-lang-container,
            .bar-graph-jobs-container{
                height: 300px;
                display: flex;
                width: 45%;
                // border: 1px solid black;
    
                
    
                div:first-child{
                    width: 52% !important;
    
                    div{
                        width:fit-content !important;  
                    }
                }
    
                div:nth-child(2){
                    width: 48% !important;
                }
            }
        }

        .line-graphs{
      
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            .line-graph-lang-container,
            .line-graph-job-container{
                height: 300px;
                width: 50%;

                @media screen and (max-width:1060px) {
                    width: 100%;
                }
            }
        }

    }

    .page-title{
        font-size: 24px;
        font-weight: normal;
    }
}