.toggle-switch{
    display: flex;
    width: 140px;
    justify-content: space-between;
    align-items: baseline;
    margin: 1rem;

    p{
        margin: 0;
    }
    .toggle-container{
        background-color: $main-color;
        width: 30px;
        height: 15px;
        border-radius: 10px;
        cursor: pointer;
    
        .toggle-ball{
            background-color: $secondary-color;
            width: 15px;
            height: 15px;
            border-radius: 50%;
        }
    
        .location,.canada,.no{
            transform: translateX(15px);
        }
    }
}
