.toggle-switch-container{
    display: block;
    margin-top: 2rem;

    @media screen and(min-width:640px){
        display: flex;
        justify-content: center;
        margin: 0;
        //align-items: center;
        //margin-top: 2rem;
    }

    .comparison-text {
        margin: 0;
    }
}
.toggle-switch{
    display: flex;
    width: 180px;
    justify-content: space-between;
    //align-items: center;
    margin: 0 auto;
    margin-top: 1rem;

    @media screen and(min-width:640px){
        margin: 0;
    }

    p{
        margin: 0 10px;
    }
    .toggle-container{
        background-color: $main-color;
        width: 26.4px;
        height: 15px;
        border-radius: 10px;
        cursor: pointer;
    
        .toggle-ball{
            background-color: $secondary-color;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            transform: translateX(2px) translateY(1.2px);
        }
    
        .location,.canada,.no{
            transform: translateX(12.5px) translateY(1.2px);
        }
    }
}
