.trending-language-container,
.trending-job-container{

    .trending-language-list,
    .trending-job-list{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        

        .select-job-body, .select-language-body{
            padding: 1rem;
            select{
                width: 80%;
            }
        }
    }

    .tending-language-item,
    .trending-job-item{
        border: 1px solid black;
        width: 23%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;

        @media screen and (max-width:760px) {
            width: 48%;
        }
    }

    .logo-container{
        display: flex;
        align-items: center;
        height: 70px;
        justify-content: space-between;
        width: 70%;
        margin-top: -25px;
        position: relative;
    }
    
    .language-name,
    .job-name{
        padding: 0 .5rem;
        font-weight: bold;
        font-size: 1.2rem;
        text-align: center;
        height: 70px;
    }

    .language-logo{
        width: 50px;
        margin: 0 10px;
    }

    .language-description,
    .job-description{
        text-align: center;
        margin: 10px 8px;
    }

    .rank-text{
        font-size: 2rem;
        font-weight: bold;
    }

    .rank-container{
        display: flex;
        align-items: center;
        height: 70px;
        justify-content: center;
        width: 70%;

        .rank-text-job{
            font-size: 2rem;
            font-weight: bold;
            border-radius: 50%;
            width: 80px;
            height: 80px;
            line-height: 80px;
            text-align: center;
        }

        .rank-1{
            color: #Ecae12;
            border: 3px solid #Ecae12;
        }

        .rank-2{
            color: #db8943;
            border: 3px solid #db8943;
        }

        .rank-3{
            color: #B0764E;
            border: 3px solid #B0764E;
        }
    }

}

.trending-job-section,
.trending-language-section{
    .switch-container{
        display: inline-flex;
    }
}