.user-profile {

    h1 {
        text-align: center;
    }

    .comparison-text {
        font-weight: bold;
    }

    .comparison-text:first-of-type{
        margin-top: 0;
    }

    .user-profile-body {
        display: block;
        @media screen and (min-width:1000px) {
            display: grid;
            grid-template-columns: 18% 78%;
            grid-gap: 4%;
            //grid-template-rows: 50% 50%;
        }

        .user-settings {
            height: 100%;
            text-align: center;

            .user-menu {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 73%;

                .coming-soon-content{
                    height: fit-content;
                    width: fit-content !important;
                    background-color: $secondary-color !important;
                    border-radius: 5px;
                    left: 294.6px !important;

                    div{
                        color: white !important;
                        font-size: 0.75rem;
                        padding: 0.2rem;
                    }

                    .coming-soon-arrow{
                        background-color: $secondary-color !important;
                        left: 54px !important;
                        
                    }
                }
                
                p{
                    cursor: pointer;
                }
            }
        }

        .user-profile-content {
            .languages-section {
                border-bottom: 1px solid $typography;

                .selected-languages {
                    display: block;
                    @media screen and(min-width: 760px) {
                        display: flex;
                        justify-content: space-between;
                        width: 50%;
                    }
                }

                .trending-language-container {

                    .trending-language-list {
                        justify-content: space-between;

                    }

                    .tending-language-item {
                        width: 30%;
                    }

                }

            }

            .jobs-section{

                .trending-job-container {

                    .trending-job-list {
                        justify-content: space-between;
                    }

                    .trending-job-item {
                        width: 30%;
                    }

                    
                }
            }
        }
    }
}
