.mobile{
    display: block;

    .register{
        padding-left: $padding;
        padding-right: $padding;
    }

    @media screen and (min-width: 760px){
        display: none;
    }
}

.error-message{
    color: red;
    display: inline-block;
    margin-left: 10px;
    font-size: 0.8rem;
}

.label-required{
    display: inline;
}

span{
    font-weight: normal;
}

.step{
    display: inline;

    @media screen and (min-width: 760px){
        display: none;
    }
}

.desktop{
    display: none;

    @media screen and (min-width: 760px){
        display: block;
    }


    .step1, .step2{
        display: grid;
        grid-template-columns: 10% 90%;
        margin-top: 40px;

        h2{
            margin: 1rem 0;
            font-weight: bold;

        }

        .number-step{
            font-size: 1.5rem;
            margin-top: 1rem;
        }
        
    }

    
}

.field{
    margin-top: 27px;
}

.register{
    color: $typography;
    display: block;

    .btn{
        margin: auto 0;

    }

    .registration{
        display: block;
        height: inherit;
        @media screen and (min-width: 760px){
            display: grid;
            grid-template-columns: 38% 58%;
        }

        .register-steps{  
            padding: 2%;
            
            .desktop{
                border-right: 1px solid $typography;
                height: 100%;
            }

            .number-step, h2{
                display: inline-block;
                font-weight: bold;
            }

            h2{
                margin-bottom: 0;
            }

            .disable{
                display: none;

                @media screen and (min-width:760px) {
                    display: grid;
                    h2, p{
                        color: #CBCBCB;
                    }
                }
    
            }

        }

        .register-instructions{
            padding: 2%;

            .step1-instructions{

                h2{
                    margin-top: 0;
                }
    
            }

            .actions{
                text-align: center;
                margin-top: 2.5rem;
                // .btn, .secondary-link{
                //     display: block;
                // }
                .secondary-link{
                    color: $main-color;
                    cursor: pointer;
                    font-weight: bold;
                    margin-top: 3rem;
                }
            }

            .step2-instructions{

                .label-checkmark {
                    font-weight: normal;
                }

                h2{
                    margin-top: 0;
                }
                .languages-options{
                    display: grid;
                    grid-template-columns: 50% 50%;
                    grid-gap: 2rem;
                    margin-top: 1rem;

                    @media screen and (min-width: 760px){
                        grid-template-columns: repeat(4, 25%);
                    }
                }

                .label-checkmark{
                    position: relative;
                    padding-left: 20px;
                    cursor: pointer;

                    input{
                        position: absolute;
                        left: 0;
                        opacity: 0;
                        cursor: pointer;
                        z-index: 1;

                    }

                    input:checked ~ .checkmark{
                        background-color: $main-color;
                    }
                }

                .checkmark{
                    position: absolute;
                    top: 3px;
                    left: 0;
                    height: 12px;
                    width: 12px;
                    background-color: transparent;
                    border: 0.5px solid $main-color;
                    border-radius: 2px;
                }

                .interest-location,
                .interest-content {
                    label:nth-of-type(2){
                        margin-left: 60px;
                    }
                }

                .interest-updates{
                    .toggle-switch{
                        margin: 0;
                    }
                }

            }

            .disable{
                display: none;
            }
        }

    }
}

