body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



/*=============================================
=            Variables            =
=============================================*/
$max-window-width: 1000px;
$padding: 3%;

/*=================Color=====================*/
$main-color: #272664;
$secondary-color: #32C5F3;
$language-color1: #F55216;
$language-color2: #00A300;
$language-color3: #681B7F;

$background: #F9F9F9;
$card-border: #CBCBCB;
$typography: #707070;
$input-field: #F9F9F9;


@import './scss/AboutUs.scss'; 

@import './scss/ContactUs.scss';

@import './scss/general.scss';

@import './scss/Header.scss';

@import './scss/Footer.scss';

@import './scss/Home/Home.scss';

@import './scss/User/LogIn.scss';


@import './scss/Articles.scss';

@import './scss/User/SignUp.scss';

@import './scss/Home/BarGraphLegend.scss';

@import './scss/User/LogOut.scss';

@import './scss//User/Profile.scss';


