body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import './scss/AboutUs.scss'; 

@import './scss/ContactUs.scss';

@import './scss/general.scss';

@import './scss/Header.scss';

@import './scss/Heroes.scss';

@import './scss/Articles.scss';

@import './scss//Dropdown.scss';

@import './scss/ToggleSwitch.scss';

