.team-members{
    padding: 2rem;
    .team-member-card{
      margin-top: 1rem;
      margin-bottom: 2rem;
  
      h2,
      .role{
        display: inline;
      }
  
      h2{
        margin-right: 2rem;
      }
  
      a{
        text-decoration: none;
        margin-right: 1rem;
      }
    }
  }