.about-us{
.team-members{
    padding: 2rem;
    .team-member-card{
      margin-top: 1rem;
      margin-bottom: 4rem;

      .image-container{
        height: 25%;
      }
  
      h2,
      .role{
        display: inline;
      }
  
      h2{
        margin-right: 2rem;
      }
  
      a{
        text-decoration: none;
        margin-right: 1rem;
      }
    }
  }
  .hero {
    width: 100%;
    padding: 0.5rem;

    .hero-description{
      text-align: center;
      margin-top: 1rem;

      p{
        margin: 0;
      }
    }

}


@media screen and (min-width: 680px) {
 
 
 

.team-members.team-members {
  padding: 2rem;
  padding-top: 0 !important;
}

.team-member-card{
  display: grid;
  grid-template-columns: .3fr 1fr;
  grid-template-rows: .3fr .6fr .1fr;
}

.social-icons{

  grid-column: 2/-1;

}

.image-container{

  grid-row: span 2;

}

.team-member-name{
  padding:0 !important;
  padding-bottom:4rem;
  margin-top: 10px;
  font-size: 1.5rem;
  margin-bottom: 0;
}

p{
  margin-top: 0;
}

.role {
  margin-top:3rem;
  margin-bottom: 0;
  padding-bottom:10px;
  font-weight: 600;
}

}

.role-container{
  margin-bottom: .5rem;
  margin-top: 1.5rem;
}
@media screen and (max-width: 680px) {
.role-container{
  margin-top:8px !important
  // padding-bottom:8px !important;
}

.image-container {
  /* width: 250px; */
  display: flex;
  justify-content: center;
}

h2,h3{
  text-align: center;
}

.image-container img{
  width: 250px !important;
  height: auto;
}

.team-members{
  padding-top:0;
}
}


//Logo style
.logo-desktop{
  margin: 0 auto;
}
.logo-mobile{
  display: none;
}


@media screen and (max-width: 680px){
    //Logo style
    .logo-desktop{
      display: none;
    }
    .logo-mobile{
      display: block;
      margin: 0 auto;
    }
}


.image-container{
  margin-top:10px;
}
.team-member-card img{
  width:120px !important;
  border-radius: 20%;
}


}

