.section-article,
.section-event{
    max-width: $max-window-width;
    margin: 0 auto 4rem;
    padding: 0 .5rem;
    

    .article-search-container,
    .event-search-container{
        margin-top: 3rem;

        .search-message{
            text-align: center;
        }
    }

    .article-search-form,
    .event-search-form{
        display: flex;
        justify-content: center;
    }

    .article-list,
    .event-list{
        display: flex;
        flex-wrap: wrap;
    }

    .article-list-item,.event-list-item{
        width: 48%;
   
        
        &:nth-child(even){
            margin-left: 2%;
        }   
        &:nth-child(odd){
            margin-right: 2%;
        }

        @media screen and (max-width:600px) {
            width: 96%;
        }

    }

    .article-list .article,
    .event-list .event{

        padding: 10px;
        margin: 1rem 0;
        // display: flex;
        // flex-direction: column;
        // height: 100%;
        // justify-content: space-between;

        .article-title,
        .event-title{

            line-height: 1;

            a{
                font-size: 1.3rem;
                color: $typography;
                text-decoration: none;
            }
       
        }

        p{
            margin: .5rem 0;
        }
    }

    .article-thumbnail{
        margin: 0 auto;
    }
}

.hero-article{
    padding: .5rem;
    background-color: #fff;
    border-bottom: 1px solid black;

    .article-title{
        text-align: left;
        font-size: 30px;
        order: 0;
        margin: 0;
    }

    .carousel-item{
        display: flex;
        flex-direction: column;
    }

    .carousel-footer{
        order: 3;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .article-thumbnail{
        order: 1;
    }

    .article-info-container{
        display: flex;
        justify-content: space-between;
    }

    .article-info{
        text-align: left;
    }

    .article-excerpt{
        order: 2;
 
    }

  

    .btn-read-more{
        order: 2;
        width: 150px;
        margin: 0 auto;
    }

    .carousel .slide {
        background-color: transparent;
    }

    .carousel .control-dots{
        position: relative;
        .dot{
            background-color: black;
        }
    }

    .carousel.carousel-slider .control-arrow:hover{
        background-color: transparent;
    }
}

.carousel-item,
.article,
.event{

    .powered-by{
        display: inline-flex;
        align-items: center;
        width: 170px;
        justify-content: space-between;

        .source-link img{
            width: 65px;
        }
    }

    .article-footer,
    .event-footer{
        display: flex;
        justify-content: space-between;
        margin-top: .5rem;
        
        .btn-read-more{
            display: flex;
            align-items: center;
        }

       
    }

    .reading-time{
        display: block;
    }

    .article-info-container{
        display: flex;
        justify-content: space-between;
        //align-items: flex-end;
    }

    .action-container{
        display: flex;
        align-items: center;
        .action-btn{
            display: inline-block;
            margin: .5rem 0 .5rem 1rem;
            cursor: pointer;

            .hover{
                display: none;
            }

            .selected{
                display: none;
            }

            &:hover{
                .hover{
                    display: block;
                }

                .normal{
                    display: none;
                }
            }

            &:focus,
            &:active{
                .hover{
                    display: none;
                }
                .selected{
                    display: block;
                }

                .normal{
                    display: none;
                }
            }
            

        }
        .action-icon{
            width: 1.3rem;
            

        }
    }
    
}

.carousel-item .source-link{
    height: 13px;

}