.section-article,
.section-event {
    max-width: $max-window-width;
    margin: 2rem auto 4rem;
    //padding: 0 0.5rem;

    .article-search-container,
    .event-search-container {
        margin: 1rem 0;

        .search-message {
            text-align: center;
        }
    }

    .article-search-form,
    .event-search-form {
        width: 70vw;
        max-width: 500px;
        margin: 0 auto;
        display: block;
        position: relative;
    }

    .article-list,
    .event-list {
        display: flex;
        flex-wrap: wrap;
    }

    .article-list-item,
    .event-list-item {
        width: 48%;
        margin-bottom: 2.5rem;
        &:nth-child(even) {
            margin-left: 2%;
        }
        &:nth-child(odd) {
            margin-right: 2%;
        }
        @media screen and (max-width:702px) {
            width: 96%;
        }

    }

    .article-list .article,
    .event-list .event {

        .coming-soon-share-content {
            height: fit-content;
            width: fit-content !important;
            background-color: $secondary-color !important;
            border-radius: 5px;
    
            div {
                color: white !important;
                font-size: 0.75rem;
                padding: 0.2rem;
            }
    
            .coming-soon-share-arrow {
                background-color: $secondary-color !important;
                //left: 54px !important;
    
            }
        }

        .user-menu.mobile-coming-soon {
            display: flex;
            justify-content: space-between;

            @media screen and (min-width:428px){
                display: none;
            }
            

        }

        .user-menu.desktop-coming-soon {

            display: none;

            @media screen and (min-width:428px){
                display: flex;
                justify-content: space-between;

            }

            @media screen and(min-width:470px) {
                width: 90%;
                margin: auto;
            }

            p {
                cursor: pointer;
            }
        }

        padding: 10px;
        margin: 0;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;

        .article-title
        {

            line-height: 1;
            margin-top: 0;
            height: 3rem;
            overflow: scroll;


            a {
                font-size: 1.3rem;
                color: $typography;
                text-decoration: none;
            }

        }

        p {
            margin: 0.5rem 0;
        }
    }

    .thumbnail-container {
        overflow: hidden;
        position: relative;
        padding-bottom: 30%;
        height: 0;

        .event-thumbnail{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .invisible{
        display: none;
    }
}

.hero-article {
    padding: 0.5rem;
    border-bottom: 1px solid black;

    .article-title {
        text-align: left;
        font-size: 30px;
        order: 0;
        margin: 0;
    }

    .carousel-item {
        display: flex;
        flex-direction: column;
    }
    
    // .carousel-section{
    //     padding-right: 3%;
    //     padding-left: 3%;
    // }

    .carousel .slider-wrapper{
        overflow: visible;
    }
    .carousel-footer {
        order: 3;
        width: 100%;
        position: relative;
        display: flex;
        margin: 1rem 0;
        align-items: center;

        .btn-container{
            width: 100%;
            
        }

        .source-container{
            position: absolute;
            left: 0;
        }

        .action-container{
            position: absolute;
            right: 0;
        }

        @media screen and (max-width:702px) {
            margin-top: 0;
            flex-wrap: wrap;
            justify-content: space-between;
            .source-container{
                position: static;
                order: 0;
            }
            .action-container{
                position: static;
                order: 1;
            }
            .btn-container{
                margin-top: 1rem;
                width: 100%;
                order: 2;
                
            }

        }



    }

    .article-link-thumbnail{
        order: 1;
    }

    .article-info-container {
        display: flex;
        justify-content: space-between;
    }

    .article-info {
        text-align: left;
    }

    .article-excerpt {
        order: 2;

    }

    .btn-read-more {
        order: 2;
        width: 150px;
        margin: 0 auto;
    }

    .carousel .slide {
        background-color: transparent;
    }

    .carousel .control-dots {
        position: relative;
        .dot {
            background-color: black;
        }
    }
    .carousel.carousel-slider .control-arrow:hover {
        background-color: transparent;
    }
}

.article,
.carousel-item,
.event {
    

    .powered-by {
        display: inline-flex;
        align-items: center;
        width: 170px;
        justify-content: space-between;

        .source-link img {
            width: 65px;
        }
    }

    .article-footer,
    .event-footer {
        display: flex;
        justify-content: space-between;
        margin-top: .5rem;
        .btn-read-more {
            display: flex;
            align-items: center;
        }

    }

    .reading-time {
        display: block;
    }

    .article-info-container {
        display: flex;
        justify-content: space-between;
        //align-items: flex-end;
    }

    .action-container {
        display: flex;
        align-items: center;
        margin-right: 2rem;
        .action-btn {
            display: inline-block;
            margin: 0.5rem 0 0.5rem 1rem;
            cursor: pointer;

            .hover {
                display: none;
            }

            .selected {
                display: none;
            }
            &:hover {
                .hover {
                    display: block;
                }

                .normal {
                    display: none;
                }
            }
            &:active,
            &:focus {
                .hover {
                    display: none;
                }
                .selected {
                    display: block;
                }

                .normal {
                    display: none;
                }
            }

        }
        .action-icon {
            width: 1.5rem;

        }
    }

   

}

.carousel-item  {
    .source-link{
        line-height: 0;
    }
    

    .coming-soon-share-content {
        height: fit-content;
        width: fit-content !important;
        background-color: $secondary-color !important;
        border-radius: 5px;

        div {
            color: white !important;
            font-size: 0.75rem;
            padding: 0.2rem;
        }

        .coming-soon-share-arrow {
            background-color: $secondary-color !important;
            //left: 54px !important;

        }
    }

    .user-menu.mobile-coming-soon {
        display: flex;
        justify-content: space-between;

        @media screen and (min-width:428px){
            display: none;
        }
        

    }

    .user-menu.desktop-coming-soon {

        display: none;

        @media screen and (min-width:428px){
            display: flex;
            justify-content: space-between;

        }

        @media screen and(min-width:470px) {
            width: 90%;
            margin: auto;
        }

        p {
            cursor: pointer;
        }
    }

}
