.teamMembers{
    padding: 2rem;
    .teamMemberCard{
      margin-top: 1rem;
      margin-bottom: 2rem;
  
      h2,
      .role{
        display: inline;
      }
  
      h2{
        margin-right: 2rem;
      }
  
      a{
        text-decoration: none;
      }
    }
  }
  
  .contactBody{
    margin-top: 3rem;
  
    .message{
      text-align: center;
    }
  
    .form {
      width: fit-content;
      text-align: center;
      margin:auto;
    
      label{
        display: block;
        text-align-last: left;
      }
    
      input{
        width: 100%;
      }
    
      select{
        width: 100%;
      }
    
      .errorMessage{
        color: red;
      }
    }
  }
  