.contact-body{
    margin-top: 3rem;
  
    .message{
      text-align: center;
    }
  
    .form {
      width: fit-content;
      text-align: center;
      margin:auto;
    
      label{
        display: block;
        text-align-last: left;
      }
    
      input{
        width: 100%;
      }
    
      select{
        width: 100%;
      }
    
      .error-message{
        color: red;
      }
    }
}
  