.select-language-body {


    button{
        width: 120px;
    }
    .drop-down.active {
        border: 1px solid black;

        width: 120px;
        height: 150px;
        overflow-y: auto;
        position: static;

        background-color: #fff;

        .selected{
            background-color: salmon;
        }


    } 
}