.select-language-body {

    button{
        width: 100px;
    }
    .drop-down.active {
        border: 1px solid black;
        width: 100px;

        .selected{
            background-color: salmon;
        }


    } 
}