
/*=============================================
=            Normalize            =
=============================================*/
*{
    box-sizing: border-box;
}

ul{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

img{
    max-width: 100%;
    display: block;
}


/*=====  End of Normalize  ======*/

