/*=============================================
=            Normalize            =
=============================================*/
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

img {
  max-width: 100%;
  display: block;
}

.app {
  max-width: $max-window-width;
  margin: 0 auto;
}

/*=====  End of Normalize  ======*/
.card-white {
  border: 1px solid $card-border;
  background-color: #fff;
  padding: $padding;
}

#root {
  background-color: $background;
}

#app {
  background-color: #fff;
}

.btn {
  all: unset;
  padding: 10px 15px;
  background-color: $secondary-color;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s all ease-in;
  font-weight: bold;
  box-sizing: border-box;
  outline: none;
  text-shadow: none;


  &:hover,
  &:focus {
    background-color: $main-color;
  }
}

.btn-outline {
  all: unset;
  padding: 10px 15px;
  background-color: transparent;
  border: 2px solid $main-color;
  color: $main-color;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s all ease-in;
  font-weight: bold;

  &:hover,
  &:focus {
    background-color: $main-color;
    color: white;
  }
}

.input-basic {
  width: 70vw;
  padding: 10px 15px;
  border-radius: 4px;
  border: 1px solid $typography;
  max-width: 500px;
  &:focus {
    border-color: $secondary-color;
    outline: none;
  }
}

.input-basic-contact {
  padding: 10px 15px;
  border-radius: 4px;
  border: 1px solid $typography;
  max-width: 500px;
  &:focus {
    border-color: $secondary-color;
    outline: none;
  }
}

.btn-search {
  all: unset;
  padding: 10px 24px;
  background-color: $main-color;
  border: 1px solid $main-color;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8rem;
  transition: 0.3s all ease-in;
  position: relative;
  left: -5px;

  img {
    width: 1rem;
  }

  &:hover,
  &:focus {
    background-color: $secondary-color;
    border: 1px solid $secondary-color;
  }
}

.search-message {
  color: $secondary-color;
}

.mobile-h1{
    padding-left: $padding;
}

.card {
    border: 1px solid $card-border;
    background-color: #fff;
    padding: $padding;
    border-radius: 5px;
    margin: 2rem auto;
    margin-bottom: 3rem;
  }

  #root{
    background-color: $background;
  }

  *{
      color: $typography;
  }

  .drop-down-menu{
      background-color: $background;
      //background-image: url("dropdown-icon.png");
      border: 1px solid $card-border;
      border-radius: 3px;
      text-align: left;
  }

  .page-title {
    font-size: 24px;
    font-weight: normal;
    padding-top: auto;
    padding-right:auto;
    padding-left: 3%;
    padding-bottom: auto;
    margin-bottom: 0;
}

input,
      select,
      textarea {
        resize: none;
        background-color: $contact-input-color;
        padding: 0.5rem;
        border-radius: $contact-btn-radius;
        border: 1px solid $card-border;
        margin: 0.6rem auto;
        width: 100%;

        &:focus {
          border-color: $secondary-color;
          outline: none;
        }
      }

label{
  font-weight: bold;
}