
/*=============================================
=            Normalize            =
=============================================*/
*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

ul{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

img{
    max-width: 100%;
    display: block;
}

.app{
    max-width: 1200px;
    margin: 0 auto;
}


/*=====  End of Normalize  ======*/
.btn{
    all:unset;
    padding: 10px 15px;
    background-color: #12BBF3;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s all ease-in;
    font-weight: bold;

    &:hover,
    &:focus{
        background-color: #282664;
    }
}

.btn-outline{
    all:unset;
    padding: 10px 15px;
    background-color: transparent;
    border: 2px solid #282664;;
    color: #282664;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s all ease-in;
    font-weight: bold;

    &:hover,
    &:focus{
        background-color: #282664;
        color: white;
    }
}