.header{

    background-color: $main-color;

    .header-section{
        max-width: $max-window-width;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    .home-link{
        all:unset;
        cursor: pointer;
    }

    .logo-desktop{
        width: 200px;
        display: block;
    }

    .logo-mobile{
        width: 80px;
        display: none;
    }

    .close, .popup-text{
        color: $main-color;
    }

    .profile-icon{
        cursor: pointer;
    }

    //Change break point based on the design
    @media screen and (max-width:650px) {
        .logo-mobile{
            display: block;
        }

        .logo-desktop{
            display: none;
        }
    }


 
        a{
            color: white;
            
        }
    }


// .header-navigation{
//     width: 100%;
// }

.header .navigation {
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    height: 100%;
    width: 50vw;
    // padding: 1rem 0;
}

// .navigation-item{
//     padding-right: 5rem;
// }