.hero{
    background-color:#ccc;
   
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;

    p,h1{
        text-align: center;
        color: white;
    }

    .graph-container{
        background-color: #fff;
        height: 300px;

        .bar-graphs{
            height: 100%;
            display: flex;
            justify-content: space-around;


            .bar-graph-lang-container,
            .bar-graph-jobs-container{
                height: 100%;
                display: flex;
                width: 45%;
                border: 1px solid black;
    
                
    
                div:first-child{
                    width: 52% !important;
    
                    div{
                        width:fit-content !important;  
                    }
                }
    
                div:nth-child(2){
                    width: 48% !important;
                }
            }
        }

    }
}