.hero{
    background-color: #1E4BA5;
   
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;

    p,h1{
        text-align: center;
        color: white;
    }

    .graph-container{
        background-color: #fff;

        .bar-graph-container{
            height: 500px;
        }
    }
}